@model List<DataModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Export PDF</title>
</head>
<body>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Nama</td
        <td>@item.Tanggal.ToString("dd/MM/yyyy")</td>
    </tr>
}

</body>
</html>
