@model dynamic
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Export PDF</title>
</head>
<body>
    <h2>Data Export PDF</h2>
    <p>Nama: @Model.Name</p>
    <p>Tanggal: @Model.Date</p>
</body>
</html>
