@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Data Export</h1>
       <ul>
        <li type="number"></li>
       </ul>

    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
<h2>Export Data</h2>

<a class="btn btn-success" href="/Export/ExportExcel">Download Excel</a>
<a class="btn btn-danger" href="/Export/ExportPdf">Download PDF</a>
</div>
 
